{% load i18n %}

	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		<div id="nav-menu-btn">{% trans "Menu" %}</div>
		<span class="nav-button"></span>
		<span class="nav-line"></span>
		<span class="nav-line"></span>
		<span class="nav-line"></span>
	</button>

<div class="navbar-collapse collapse">

    <ul class="nav nav-pills">
        <li>
		<a href="/">
                {% trans 'Home' %}
    		</a>                                            
	</li>
        {% for tab in tabs %}
            <li {% if tab.selected %}class="selected"{% endif %}>
                <a href="{{ tab.link }}">
                    {{ tab.title }}
                </a>                                
            </li>            
        {% endfor %}
		
			<form id="search-form" class="navbar-form navbar-right" role="search" action="{% url "lfs_search" %}" autocomplete="off">
					<div class="form-group" >
					<input type="hidden" name="livesearch" value="1" />
					<input id="search-input" class="form-control" type="text" name="q" autocomplete="off" data-url="{% url "lfs_livesearch" %}" placeholder="{% trans 'Search' %}" />
					</div>
					<input type="submit" value="{% trans 'Go!' %}" class="btn btn-default"/>
			</form>
		

		</ul>
</div>
