/* Only applies while screen is 980px or less */
@media (max-width: 768px) {
	
	body {
	font-size: 12px !important; 
	}

	.btn-default, .btn-success, 
	.btn-info, .btn-primary {
		width: 100%;
	}
	
	#search-form .btn-default {
		width: auto; 
	}
	
	.product #product-details {
		padding-left:0; 
	}
	
	.product #pg-bk  .col-md-4 {
		padding-right: 0;
		z-index: 1;
	}
	
	.product #pg-bk  .col-md-8 {
		padding-left: 0;
		text-align: center;
	}
	
	.product #pg-bk  .col-md-8 .pagination{
		float: none;
		margin-top: 15px; 
	}
	
	#top-menu .btn-default { 
		width:auto;
	}
	
	#tabs .nav li {
		float: none; 
	}

	#tabs ul {
		padding-right: 10px;
	}
	
	#tabs li {
		border-bottom: 1px solid #EEE;
	}
	
	#tabs li a {
		font-size: 12px;
	}
	
	/* Product rows */
	#product-row li {
		width: 100% !important;
	}

	#product-row .product-image {
		margin: 0 auto;
		width: 100%;
	}

	#product-row .product-details {
		padding-top: 10px;
		text-align: center; 
	}

	#product-row .product-price {
		padding: 10px 0 0 0;
		text-align: center;
	}
}

/* only applies while screen is 980px or greater */
@media (min-width: 768px) {
	#tabs .nav li {
		float: left; 
	}
}
/* End of "Only applies while screen is 980px or less" */

/* Home 
--------------------------------*/
#center .first-heading  {
	border-bottom: 1px solid #EEEEEE;
	padding: 10px 0;
}

/* Container
-------------------------------*/
#wrapper { 
	padding: 0px;
	border-left: 0px solid #DDD;
	border-right: 0px solid #DDD;
	box-shadow: 0px 4px 20px #CCC;
}

/* Header
-------------------------------*/

#header { 
	background: #0066AA;
}

/* Top Menu
-------------------------------*/
#top-menu {
	border-bottom: 1px solid #0055AA;
	box-shadow: 0 1px 0 rgba(255,255,255,.1);
	position: relative;
	z-index: 1;
	height:30px;
}

#top-menu #login {
	margin-right:-15px;
	padding: 5px 15px;
}

#top-menu a:hover, #top-menu a:active,
#top-menu a:focus {
	text-decoration: none;		
}

#top-menu .btn-default {
	background: transparent;	
	border: 0px solid #FFF;	
	color: #FFF;
}

#top-menu .btn-default a {
	color: #FFFFFF;	
}

#top-menu .btn-default a:hover {
	color: #FFFFFF;	
}

#top-menu .btn-default li a {
	color: #0066AA;
}

#top-menu .btn-default li:hover a {
	color: #0066AA;
}

#top-menu .dropdown-menu {
	border-radius: 0;
	margin-right: 6px;
	margin-top: 0px;
}

#top-menu .btn-default .caret {
	border-top-color: #FFFFFF;
}

/* Nav
----------------------------------*/
#tabs .navbar-collapse {
	padding-left: 0;
	padding-right:0;
}

.nav-button {
    border: 0 none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.navbar-toggle {
	width: 140px;
}

.navbar-toggle #nav-menu-btn {
    color: #0066AA;
    font-size: 120%;
    font-weight: bold;
    margin-left: 30px;
    margin-top: -3px;
    position: absolute;
}

.navbar-toggle .nav-line {
    background: none repeat scroll 0 0 #0066AA;
}
.navbar-toggle .nav-line {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
}

.navbar-toggle .nav-line + .nav-line {
    margin-top: 4px;
}

#tabs button:hover, #tabs a.button:hover {
    background-color: transparent;
}

/* Logo
-------------------------------*/
#logo { 
	padding: 20px 0 20px 20px; 
	height: auto;
	max-width: 100%;
}


/* Left, Right and Center
----------------------------------*/
#left, #right, #center {
    padding-left: 8px;
    padding-right: 8px;
}

#center #content {
	min-height: 250px; 
	padding: 8px 8px 10px 8px;
}

/* Recent Products */

#left .recent-products-portlet .portlet-body, 
#right .recent-products-portlet .portlet-body {
	text-align: center;
	border-bottom: 0;
}

#left .recent-products-portlet .product-image, 
#right .recent-products-portlet .product-image {
	float: none;
	margin-right: 0px;
	border-bottom: 1px solid #EEE;
}

.recent-products-portlet .portlet-item {
	border: 0;
}

.recent-products-portlet .product-image {
	margin-right: 20px;
	padding-bottom: 20px;
	float: left;
}

/* Pages */
.categories-portlet a:hover {
 	color: #0066BB;
}

/* Categories */
.pages-portlet a:hover {
 	color: #0066BB;
}

/* Contact Form
---------------------------------- */
.contact-form .form-vertical .btn-success{
	float:right; 
}

.contact-form .btn-success { 
    background-color: #2A7FD3;
	padding: 8px 15px;
    transition: all 0.4s ease 0s;
    border: 0;
} 

.contact-form  .btn-success:hover { 
	background: none repeat scroll 0 0 #AAAAAA;
	color: #FFFFFF;
	text-decoration: none;
} 

/* Category Page
------------------------------------*/
.category .product-title {
	font-size: 12px; 
}

.category .product-title:hover { 
	color: #336699;
}

.category #pager .pagination {
	margin: 20px 0 0;
}

.category .btn-success,
.product .btn-success { 
	background: none repeat scroll 0 0 #2A7FD3;
	color: #FFFFFF;
	padding: 8px 15px;
	border: 0;
	transition: all 0.4s ease 0s;
} 

.category .btn-success:hover,
.product .btn-success:hover { 
	background: none repeat scroll 0 0 #AAAAAA;
	color: #FFFFFF;
	text-decoration: none;
}

/* Product_cols */
.lfs-default ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.category .product-data {
	border: 1px solid #EEEEEE;
	height: auto; 
	padding: 10px;
}

.category .product-data:hover {
	box-shadow: 0 0 15px -8px #2A7FD3;
	cursor: pointer;
	color: #333333;
}

/* Product rows 1 */c
.product-row-1 li {
	width:100%;
}

.product-row-1 .product-image {
	margin: 0 auto;
    width: 100%;
}

.product-row-1 .product-details {
	padding-top: 10px;
	text-align: center; 
}

.product-row-1 .product-price {
	padding: 10px 0 0 0;
	text-align: center;
}

.product-row-1 .product-price .btn-success {
	width: 100%;
}

/* Product rows 2 */
.product-row-2 li {
	display: inline-block;
    margin-bottom: 4px;
    width: 49%;
}

.product-row-2 .product-image {
	margin: 0 auto;
    width: 100%;
}

.product-row-2 .product-details {
	padding-top: 10px;
	text-align: center; 
}

.product-row-2 .product-price {
	padding: 10px 0 0 0;
	text-align: center;
}

.product-row-2 .product-price .btn-success {
	width: 100%;
}

/* Product rows 3 */
.product-row-3 li {
	display: inline-block;
    margin-bottom: 4px;
    width: 33%;
}

.product-row-3 .product-image {
	margin: 0 auto;
}

.product-row-3 .product-image img{
    width: 100%;
}

.product-row-3 .product-details {
	padding-top: 10px;
	text-align: center; 
}

.product-row-3 .product-price {
	padding: 10px 0 0 0;
	text-align: center;
}

.product-row-3 .product-price .btn-success {
	width: 100%;
}

/* Product rows 4 */
.product-row-4 li {
	display: inline-block;
    margin-bottom: 4px;
    width: 24%;
}

.product-row-4 .product-image {
	margin: 0 auto;
}

.product-row-4 .product-image img{
    width: 100%;
}

.product-row-4 .product-details {
	padding-top: 10px;
	text-align: center; 
}

.product-row-4 .product-price {
	padding: 10px 0 0 0;
	text-align: center;
}

.product-row-4 .product-price .btn-success {
	width: 100%;
}

/* Product Page
------------------------------------*/
.product #pg-bk {
	display: block;
}

.product #pg-bk .col-md-4 {
	padding-left: 0;
}

.product #pg-bk .col-md-8 {
	padding-right: 0;
}

.product #product-inline #product-tabs div {
	padding: 0;
}

.product #product-inline #product-img {
	padding-left: 0;
	padding-right: 0;
}

.product #product-inline #product-details {
	padding-right: 0;
}

.product #pg-bk .pagination{
	margin-top: 0;
	float:right;
}

.product .pagination ul li { display: inline-block; }

.product #pg-bk .btn{
	font-size: 110%;
	float:left;
}

.product .product-title { 	
	border-bottom: 1px solid #EEEEEE;
	padding-bottom: 10px;
	width: 100%;
	margin-top: 0px;
}

.product #quantity div {
	display: inline-block; 
}

.product .quantity-name {
	padding-right: 6px;
    padding-top: 4px;
}

.product #add-to-cart .btn-success {
	margin-left: -15px; 
}

.add-review .form-horizontal {
	padding-top: 15px; 
}

.add-review .btn-success {
	margin-top: 2%;
	float: right;
	background-color: #5BC0DE;
	border-color: #46B8DA;
	color: #FFFFFF !important;
	transition: all 0.4s ease 0s;
}

.add-review .btn-success:hover  {
	background-color: #39B3D7;
	border-color: #269ABC;
	color: #FFFFFF;
}

#attachments a {
	text-decoration:none;
	font-size: 120%;
	color: #000;
}

#attachments a:hover {
	color: #0066BB;

}

/* Customer Login
-------------------------------------*/
.customer-login .page-header {
	margin: 20px;
	padding-left: 10px;
}

.customer-login #content {
	padding-top: 0;
}

.customer-login .form input, .control-group input {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    font-size: 14px;
    line-height: 1.42857;
    margin-bottom: 4px;
    padding: 6px 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
	width: 200px !important;
}

.customer-login label {
	width: 120px;
}

.customer-login #login button {
	margin-bottom: 10px; 
}

.customer-login #register button {
	margin-top: 10px; 
}

/* Account
-------------------------------------*/
#account .nav-list { 
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #EEEEEE #EEEEEE;
    border-image: none;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    margin-top: -5px;
}

#account .nav-list li { 
	border-bottom: 1px solid #EEEEEE;
}

#account .nav-list .last { 
	border-bottom: 0px solid #EEEEEE;
        transition: all 0.4s ease 0s;	
}

#account #invoice-address .control-label, #account #shipping-address .control-label {
	margin-right: 10px;
}

.btn-address { 
	float: right;
    margin-right: 2%;
    margin-top: 1.5%;
}

#invoice-address  .form-control, #shipping-address .form-control,
#cart-inline #voucher,
.password-reset #id_email {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

.lfs .form-actions input {
	margin-top: 10px;
}

/* Reset Password
----------------------*/
.password-reset input#id_email {
	width: 240px;
}

.password-reset .errorlist {
	padding-bottom: 4px;
	padding-left: 0;
}

.password-reset label {
	padding-bottom: 4px;
	padding-left: 0;
}

.password-reset .label,
.password-reset .field label {
	color: #58585A;
	font-size: 12px;
	margin-left: 0;
	padding-left: 0;
}

/* Cart 
----------------------*/
#cart-inline .btn-success {
  color: #ffffff !important;
  background-color: #5bc0de;
  border-color: #46b8da;
	transition: all 0.4s ease 0s;
}

#cart-inline .btn-success:hover,
#cart-inline .btn-success:focus,
#cart-inline .btn-success:active,
#cart-inline .btn-success .active,
#cart-inline .open .dropdown-toggle .btn-success {
  color: #ffffff;
  background-color: #39b3d7;
  border-color: #269abc;
}

.cart #cart-inline .btn-success {
	background: none repeat scroll 0 0 #0066AA;
	color: #FFFFFF;
	padding: 7px 12px;
	border: 0;
	transition: all 0.4s ease 0s;
} 

.cart #cart-inline .btn-success:hover  { 
	text-decoration: none;
	background: none repeat scroll 0 0 #2A7FD3;
	color: #FFFFFF;
}

.cart #cart-inline {
	padding-left: 0;
	padding-right: 0;
} 

.cart .col-md-2,
.cart .col-md-10 {
	padding-left: 8px;
	padding-right: 8px;
}

.cart #cart-inline .voucher {
	margin-bottom: 2%;
}

.cart .cart-amount { 
	font-size: 100%;
}

.cart .buttons .btn-success, .cart .buttons .btn-info { 
	margin-bottom: 1%; 
}

.cart #country, 
.cart #shipping,
.cart #payment {
	text-align: right;
	padding-top: 1%;
	padding-bottom: 1%;
}

.cart #country div,
.cart #shipping div,
.cart #payment div {
	display: inline-block;
}

.cart #total {
	border: 1px solid #EEEEEE;
	margin-top: 16px;
	padding-top: 4px;
}

.cart #total-price,
.cart #shipping-price,
.cart #payment-price,
.cart #tax-price,
.cart #delivery-time {
	text-align: right;
	padding-top: 1%;
	padding-bottom: 1%;
	border-bottom: 1px solid #EEE;
}

.cart #total-price {
	border:0;
}

.cart #total-price div,
.cart #shipping-price div,
.cart #payment-price div,
.cart #tax-price div,
.cart #delivery-time div {
	display: inline-block;
}

.cart #total .price {
	width: 80px;
	font-weight: bold;
}

.cart #total-price .total-name,
.cart #total-price .total-number {
	color: #0066AA;
	font-size: 150%;
	font-weight: bold;
}

.cart #cart-form .col-md-6 {
	padding-left: 0;
	padding-right: 0;
}

.added-to-cart .page-header,
.added-to-cart #cart-items,
.added-to-cart .form-actions  {
	padding-left: 15px;
	padding-right: 15px;
}

.added-to-cart .btn-primary {
	background: none repeat scroll 0 0 #0066AA;
	color: #FFFFFF;
	padding: 7px 12px;
	border: 0;
	transition: all 0.4s ease 0s;
}

.added-to-cart .btn-primary:hover {
	text-decoration: none;
	background: none repeat scroll 0 0 #2A7FD3;
	color: #FFFFFF;
}

.added-to-cart .btn-success{
	transition: all 0.4s ease 0s;
	background-color: #5CB85C;
	border: 1px solid #5CB85C;
	border-color: #4CAE4C;
	color: #FFFFFF;

}

.added-to-cart .btn-success:hover {
	background-color: #47A447;
	border: 1px solid #47A447;
	color: #FFFFFF;
}

.added-to-cart .btn-default {
	background-color: #EFEFEF;
}

.added-to-cart .btn-default:hover {
	background-color: #EEEEEE;
	border-color: EFEFEF; 
}

.form-actions .btn-primary, .form-actions .btn-success,
.form-actions .btn-info {
	margin-bottom: 1%;
}

/* Search
-----------------------------------*/
.search-results #search-results {
	padding: 0 15px 0 15px;
}

.search-results #search-results .form-control {
	display: -moz-box;
	width: auto;
	margin-right: -1px; 
}

.search-results #search-results .btn-default {
	height: 34px; 
	transition: all 0.4s ease 0s;
}

.search-results #search-results .btn-default:hover {
    background: none repeat scroll 0 0 #2A7FD3;
    border: 1px solid #2A7FD3;
    color: #FFFFFF;
}

.search-results #search-results tr {
	border-bottom: 1px solid #EEE;
}

.search-results #search-results tr:hover {
	background-color: #EEE;
}

.search-results #search-results .lfs-default td,
.search-results #search-results.lfs-default th {
}

.search-results td#product-name {
	padding-top: 2%; 
}

.search-results td.number {
	padding-top: 2%; 
}

.search-results td .product-price {
    padding: 0 10px 0 0;
}

.search-results td.buttons {
	vertical-align:middle; 
}

.search-results td#product-name a {
	font-size: 14px;
}

.search-results #search-results
.lfs-default .buttons {
	text-align:center;
}

.search-results #search-results .lfs-default #product-name {
	padding-left:2px;
}

/* Checkout Login
-----------------------------------*/
.checkout-login #lrf input {
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #DDDDDD;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    display: block;
    font-size: 14px;
    line-height: 1.42857;
    padding: 6px 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 50%;
}
 
.checkout-login .page-header h1 { 
	padding-left: 15px; 
}

.checkout-login .btn-success:hover {
    background: none repeat scroll 0 0 #2A7FD3;
    color: #FFFFFF;
    text-decoration: none;
}
.checkout-login .btn-success {
    background: none repeat scroll 0 0 #0066AA;
    border: 0 none;
    color: #FFFFFF;
    margin-top: 10px;
    padding: 8px 15px;
    transition: all 0.4s ease 0s;
}

.checkout-login #register button {
	margin-top: 10px; 
}

.checkout-login #login,
.checkout-login #register,
.checkout-login #finish-order {
	margin-bottom: 4%;
}


/* Checkout
---------------------------------*/

.checkout #shipping-address .checkbox { 
	text-transform: none;
}

.checkout .btn-info {
    background: none repeat scroll 0 0 #0066AA;
    border: 0 none;
    color: #FFFFFF;
    transition: all 0.4s ease 0s;
	padding: 7px 14px;
}

.checkout .btn-info:hover {
    background: none repeat scroll 0 0 #2A7FD3;
    color: #FFFFFF;
    text-decoration: none;
}

.checkout #payment-inline .payment {
	width:100%;
}

.checkout #payment-inline label {
	display: inline;
}

.checkout #shipping-address .portlet-header .checkbox {
	float: right;
	padding-top:0;
}

.checkout .portlet-header { 
	margin-bottom: 10px;
}

.checkout #radio-button { 
	text-align:right; 
}

.checkout .shipping-method ,
.checkout .payment-method {
    display: inline-block;
    padding: 6px 0;
    position: relative;
}

.checkout #shipping-inline .row div,
.checkout #payment-inline .payment-method div {
	display: inline-block; 
}

.checkout #total {
	border: 1px solid #EEEEEE;
	margin-top: 16px;
	padding-top: 4px;
}

.checkout #total-price,
.checkout #shipping-price,
.checkout #payment-price,
.checkout #tax-price,
.checkout #delivery-time {
	text-align: right;
	padding-top: 1%;
	padding-bottom: 1%;
	border-bottom: 1px solid #EEE;
}

.checkout #total-price {
	border:0;
}

.checkout #total-price div,
.checkout #shipping-price div,
.checkout #payment-price div,
.checkout #tax-price div,
.checkout #delivery-time div {
	display: inline-block;
}

.checkout #total .price {
	width: 80px;
	font-weight: bold;
}

.checkout #total-price .total-name,
.checkout #total-price .total-number {
	color: #0066AA;
	font-size: 150%;
	font-weight: bold;
}

.checkout #message-form-checkbox input {
	float: left;
}

.checkout #message-form-checkbox label {
    padding-left: 5px;
    padding-top: 2px;
}

.checkout .alert { 
	margin-left: 15px;
	margin-right: 15px;	
}
