/* Logo
-------------------------------*/
#logo {
	position:relative;
	z-index:1; 
}

#logo {
	height:auto;
	max-width: 100%;
}

/* Login Button
--------------------------------*/
#login {
	float:right;
	margin-right: -4.4%;
	margin-top: -2.4%;
	position: relative;
	z-index: 1;		
}

#login a:hover {
	text-decoration: none;		
}

/* Categories
----------------------------------*/

#Left {
	padding-left: 0px;
	padding-right: 0px; 
}

#Right {
	padding-left: 0px;
	padding-right: 0px; 
}




































