{% load i18n %}
{% if pages %}
    <div class="pages-portlet portlet">
        <div class="portlet-header">
            {{ title }}
        </div>
        <div class="portlet-body">
	<ul>
            {% for page in pages %}
                	<li class="{% if forloop.last %}last{% endif %}">
				<a href="{{page.get_absolute_url}}">
                        		{{page.title}}
                    		</a>
                	</li>
            {% endfor %}
	</ul>
        </div>
        <div class="portlet-footer">
		<a href="{% url "lfs_pages" %}">
			{% trans 'More information' %}
		</a>
        </div>
    </div>
{% endif %}
