{% extends "front/base.html" %}
{% load i18n %}
{% load lfs_tags %}

{% block section %}added-to-cart{% endblock %}
{% block left-slot-wrapper %}{% endblock %}
{% block right-slot-wrapper %}{% endblock %}

{% block breadcrumbs %}
    {% breadcrumbs _("Added to cart") %}
{% endblock %}

{% block wrapper %}
    {% if plural %}
        <div class="page-header"><h1>{% trans 'This products have been added to cart' %}</h1></div>
    {% else %}
        <div class="page-header"><h1>{% trans 'This product has been added to cart' %}</h1></div>
    {% endif %}

    <div id="cart-items">
        {{ cart_items }}
    </div>

    {% if product_accessories %}
	<div id="accessories-table" class="col-md-12">
        <h3>{% trans 'Accessories' %}</h3>
        <table class="table table-bordered">
            <tr>
                <th class="col-md-8">
                    {% trans 'Name' %}
                </th>
                <th class="number col-md-1">
                    {% trans 'Quantity' %}
                </th>
                <th class="number col-md-1">
                    {% trans 'Price' %}
                </th>
                <th class="number col-md-1">
                    {% trans 'Total' %}
                </th>
				<th class="col-md-1 hidden-xs"></th>
            </tr>
            {% for product_accessory in product_accessories %}
                <tr>
                    <td>
                        <div>
						<a href="{{ product_accessory.accessory.get_absolute_url }}">
                            {{ product_accessory.accessory.get_name }}
                        </a>
						</div>
                    </td>
                    <td class="number">
                        {{ product_accessory.quantity|quantity }}
                    </td>
                    <td class="number">
                        {{ product_accessory.accessory.get_price|currency:request }}
                    </td>
                    <td class="number">
                        {{ product_accessory.get_price|currency:request }}
                    </td>
					<td class="hidden-xs">
						<a class="btn btn-default add-accessory-link"
						rel="nofollow"
						href="{% url "lfs_add_accessory_to_cart" product_accessory.accessory.id product_accessory.quantity %}">
						{% trans 'Add' %}
						</a>
					</td>
                </tr>
				<tr class="visible-xs">
					<td colspan="4" style="text-align:center;">
						<a class="btn btn-default add-accessory-link"
						rel="nofollow"
						href="{% url "lfs_add_accessory_to_cart" product_accessory.accessory.id product_accessory.quantity %}">
						{% trans 'Add' %}
						</a>
					</td>
				</tr>
            {% endfor %}
        </table>
    {% endif %}
	</div>
	
    <div class="form-actions">
        <a class="btn btn-primary"
           href="{% url "lfs_checkout_dispatcher" %}">
            {% trans 'Checkout' %}
        </a>
        <a class="btn btn-success"
           href="{% url "lfs.cart.views.cart" %}">
            {% trans 'Go to cart' %}
        </a>
        <a class="btn btn-info"
           href="{{ shopping_url }}">
            {% trans 'Go on shopping' %}
        </a>
    </div>

{% endblock %}
